@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}

:root {
    /* b&w */
    --black: #080C11;
    --gray: rgba(0, 0, 0, 0.32);
    /* color */
    --primary: #577B9D;
    --secondary: #468662;
    /* pastel */
    --blue-pastel: #BCCDFF;
    --pink-pastel: #FFB5E2;
    --yellow-pastel: #FFD5AF;
    /* font weight */
    --weight-extralight: 200;
    --weight-light: 300;
    --weight-regular: 400;
    --weight-medium: 500;
    --weight-semibold: 600;
    --weight-bold: 700;
    --weight-extrabold: 800;
    /* text size */
    --size-xs: 0.75rem;
    --size-sm: 0.9rem;
    --size-base: 1rem;
    --size-lg: 1.3rem;
    --size-xl: 2rem;
    --size-2xl: 3rem;
    --size-3xl: 4rem;
    --size-4xl: 5rem;
    /* 1rem = 16px */
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: var(--weight-regular);
    font-size: var(--size-sm);
    color: var(--black);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

nav ul li a {
    font-weight: var(--weight-semibold);
}

nav ul li a:hover {
    color: var(--primary);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    font-size: var(--size-xs);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
}